{% extends "base.html" %}

{% block title %}
Posts List
{% endblock title %}

{% block content %}
<section class="posts_list">
    {% for post in posts %}
    <a href="{% url 'post_page' slug=post.slug %}">
        <article>
            <h2 class="heading">{{ post.title }}</h2>
            <p>{{ post.body|truncatewords:30 }}</p>
            <img src="{{ post.banner.url }}" alt="{{ post.title }}" width="300" height="200">
        </article>
    </a>
    {% endfor %}
</section>
{% endblock content %}
